@model MoyskladSettings_Credentials_ViewModel

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<div class="mb-3" asp-validation-class-for="Username">
    <label asp-for="Username">@T["Username"]</label>
    <input asp-for="Username" class="form-control" type="text" />
    <span asp-validation-for="Username"></span>
    <span class="hint">@T["Your Moysklad's account Username."]</span>
</div>

<div class="mb-3" asp-validation-class-for="Password">
    <label asp-for="Password">@T["Password"]</label>
    <input asp-for="Password" class="form-control" type="text" autocomplete="off" />
    <span asp-validation-for="Password"></span>
    <span class="hint">@T["Your Moysklad's account Password."]</span>
</div>

@* 
<div class="mb-3">
    <span class="hint">@T["Get your Moysklad at"] <a href="https://developers.google.com/recaptcha/" target="_blank">https://developers.google.com/recaptcha/</a></span>
</div> *@
